.description {
  position: relative;
}

.D {
  position: absolute;
  top: -60%;
  left: -1.5rem;
  width: 2rem;
  height: 120%;
  box-sizing: border-box;
  border-radius: 0.375rem 1rem 1rem 0.375rem;
  opacity: 0;
}

.active .D {
  opacity: 0.2;
  transition: all 0.5s ease-in-out;
}

.define .D {
  border: 3px solid #313338;
}

.design .D {
  background-color: #313338;
}

.develop .D {
  background-color: #313338;
  opacity: 0.35;
  animation: 3s scale ease-in-out infinite;
  transform-origin: left;
}

@keyframes scale {
  0% {
    transform: scaleX(1);
  }
  20% {
    transform: scaleX(0.8);
  }
  80% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}
